
<div class="container-fluid">
<div class="sidenav">
         <div class="login-main-text">
            <h2>Application<br> Login Page</h2>
            <p>Login or register from here to access.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form>
                  <div class="form-group">
                     <label>User Name</label>
                     <input type="text" [(ngModel)]='loginForm.email' name="email" class="form-control" placeholder="User Name">
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input type="password"  [(ngModel)]='loginForm.password' name="password" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group mt-2">
                    <button type="submit" class="btn btn-black float-end" (click)="login()">Login</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
</div>